## First Notebook

1. Importing financial trading data.

2. Summarize the data's key characteristics

3. Hypothesize some ideas/insights that could be derived from this data

4. Identify Data cleaning strategies

5. Clean Data 

6. Visualize Data

### Importing Libs

In [91]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

DEBUG:matplotlib.pyplot:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [92]:
## path of mlfin lab-- Siddharth to change this variable only 
mlfinpath = 'C:/Study/HedgeFund/mlfinlab'
ourpath = "C:/Study/HedgeFund/MLFinance/src"

In [93]:
import sys
sys.path.append(mlfinpath)
sys.path.append(ourpath)
import numpy as np
from pathlib import Path
import pandas as pd
import datetime 
import logging
from kiteconnect import KiteConnect
from collections import defaultdict
import re
from kite_downloader import *

In [4]:
Path.ls = lambda x: list(x.iterdir())

In [87]:
from mlfinlab.datasets import *
from mlfinlab.data_structures import *

### Reading different data  samples
From Mlfinlab

In [ ]:
tick_df =  load_tick_sample()
stocks_df = load_stock_prices()
dol_df = load_dollar_bar_sample()

In [ ]:
tick_df.shape,stocks_df.shape,dol_df.shape

In [ ]:
tick_df.head(10)

In [ ]:
tick_res_df=tick_df.reset_index()

When working with our own data, we need to either those datasets within data folder of mlfinlan datasets or create a new library using their code as starter code

### Reading Bitcoin Datasets

In [178]:
datapath = Path('C:/Study/HedgeFund/datasets/')

In [179]:
datapath.ls()

[WindowsPath('C:/Study/HedgeFund/datasets/bitstampUSD.csv'),
 WindowsPath('C:/Study/HedgeFund/datasets/coinbaseUSD.csv'),
 WindowsPath('C:/Study/HedgeFund/datasets/nifty_fno.csv')]

In [180]:
dfs = []
for dpath in bitcoinpath.ls():
    dfs.append(pd.read_csv(dpath))

In [181]:
## printing the data stats 
for df,name in zip(dfs,bitcoinpath.ls()):
    print(f"Data:{name.name.split('.')[0]}")
    print(f"Shape of Dataset:{df.shape}")
    print(f"Columns of Dataset:{df.columns}\n")
    print(f"{df.head(5)}")
    print("##########################################################\n")

Data:bitstampUSD
Shape of Dataset:(4363457, 8)
Columns of Dataset:Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

    Timestamp  Open  High   Low  Close  Volume_(BTC)  Volume_(Currency)  \
0  1325317920  4.39  4.39  4.39   4.39      0.455581                2.0
1  1325317980   NaN   NaN   NaN    NaN           NaN                NaN
2  1325318040   NaN   NaN   NaN    NaN           NaN                NaN
3  1325318100   NaN   NaN   NaN    NaN           NaN                NaN
4  1325318160   NaN   NaN   NaN    NaN           NaN                NaN

   Weighted_Price
0            4.39
1             NaN
2             NaN
3             NaN
4             NaN
##########################################################

Data:coinbaseUSD
Shape of Dataset:(2099760, 8)
Columns of Dataset:Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040    NaN    NaN    NaN    NaN           NaN                NaN
2  1417412100    NaN    NaN    NaN    NaN           NaN                NaN
3  1417412160    NaN    NaN    NaN    NaN           NaN                NaN
4  1417412220    NaN    NaN    NaN    NaN           NaN                NaN

   Weighted_Price
0           300.0
1             NaN
2             NaN
3             NaN
4             NaN
##########################################################

Data:nifty_fno
Shape of Dataset:(1200, 32)
Columns of Dataset:Index(['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded',
       'Turnover (Rs. Cr)', 'Client Type', 'Future Index Long',
       'Future Index Short', 'Future Stock Long', 'Future Stock Short',
       'Future Stock Short\t', 'Future Stock Short       ',
       'Option Index Call Long', 'Option Index Call Short',
       'Option Index Put Long', 'Option Index Put Short',
       'Option Stock Call Long', 'Option Stock Call Short',
       'Option Stock Put Long', 'Option Stock Put Short',
       'Total Long Contracts', 'Total Long Contracts\t',
       'Total Short Contracts', 'Year', 'Month', 'Week', 'Weekday',
       'Exp_week_Thru', 'Monthly_Exp_End', 'Monthly_Exp_Start'],
      dtype='object')

       Date      Open     High      Low    Close  Shares Traded  \
0  3/1/2019  10842.65  10877.9  10823.1  10863.5      308526309
1  3/1/2019  10842.65  10877.9  10823.1  10863.5      308526309
2  3/1/2019  10842.65  10877.9  10823.1  10863.5      308526309
3  3/1/2019  10842.65  10877.9  10823.1  10863.5      308526309
4  3/1/2019  10842.65  10877.9  10823.1  10863.5      308526309

   Turnover (Rs. Cr) Client Type Future Index Long Future Index Short  ...  \
0           15010.06      Client            119973             120351  ...
1           15010.06         DII             34987              16040  ...
2           15010.06         FII            101041              95690  ...
3           15010.06         Pro             16940              40860  ...
4           15010.06       TOTAL            272941             272941  ...

  Total Long Contracts  Total Long Contracts\t Total Short Contracts  Year  \
0            1812495.0                     NaN               1585145  2019
1             177034.0                     NaN                946340  2019
2            1471546.0                     NaN                821038  2019
3             479894.0                     NaN                588446  2019
4            3940969.0                     NaN               3940969  2019

  Month Week Weekday Exp_week_Thru Monthly_Exp_End Monthly_Exp_Start
0     3    9  Friday      3/7/2019       3/28/2019         3/29/2019
1     3    9  Friday      3/7/2019       3/28/2019         3/29/2019
2     3    9  Friday      3/7/2019       3/28/2019         3/29/2019
3     3    9  Friday      3/7/2019       3/28/2019         3/29/2019
4     3    9  Friday      3/7/2019       3/28/2019         3/29/2019

[5 rows x 32 columns]
##########################################################

The dataset seems unclean. We need to get rid of NaN values before doing any meaninful analysis

In [167]:
for df in dfs:
    df.dropna(inplace=True)

In [168]:
cond=True
previous = 0
while cond:
    dfs[1]=dfs[1][dfs[1]['Timestamp'].diff()==60.0].dropna()
    sum_break = sum(dfs[1]['Timestamp'].diff()!=60.0)
    if sum_break==0:
        cond=False
    elif sum_break==previous:
        break
    else:
        previous = sum_break

### Create Demo Data Structures 
Their Data structure only works with tick by tick with assumption that first columns is date, second is price and third is volume

In [59]:
time_df = get_time_bars(tick_df.reset_index(),resolution='S',num_units=5)

Reading data in batches:
Batch number: 0
Returning bars

### Kite data reading

In [6]:
logging.basicConfig(level=logging.DEBUG)
kite = KiteConnect(api_key="mbr5webseydvztcr")

In [7]:
url=kite.login_url()

In [8]:
url

'https://kite.trade/connect/login?api_key=mbr5webseydvztcr&v=3'

In [10]:
data = kite.generate_session("gM2pSUL88NGL4rKG4F9w57rjL7N7RCNd", api_secret="53y7l441279l6m66j12sd8fpxn0ltmce")

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "POST /session/token HTTP/1.1" 200 None

In [11]:
kite.set_access_token(data["access_token"])

### Getting Instruments from Kite

In [94]:
ins_df = get_available_instruments(kite)

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments HTTP/1.1" 200 4957273

In [95]:
ins_df.shape

(63304, 12)

There are 63304 instruments being traded in kite for which we could query the data-- 1min

In [96]:
ins_df.instrument_type.value_counts()

CE     23395
PE     23229
EQ     15976
FUT      704
Name: instrument_type, dtype: int64

There seems to four types of instruments -- CE,PE,EQ,FUT

In [97]:
ins_token = get_instrument_token(ins_df,re.compile(r'ICICI.*NIFTY\s+ETF'))

In [98]:
ins_token

array([137473796,   7565569], dtype=int64)

In [79]:
hist_df = get_hist_data(kite,instrument_token=ins_token[0])

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-01-01+00%3A00%3A00&to=2019-03-02+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 90767
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-03-02+00%3A00%3A00&to=2019-05-01+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 86424
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-05-01+00%3A00%3A00&to=2019-06-30+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 107869
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-06-30+00%3A00%3A00&to=2019-08-29+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 109152
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-08-29+00%3A00%3A00&to=2019-10-28+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 90284
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-10-28+00%3A00%3A00&to=2019-12-27+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 98312
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.kite.trade:443
DEBUG:urllib3.connectionpool:https://api.kite.trade:443 "GET /instruments/historical/137473796/minute?instrument_token=137473796&from=2019-12-27+00%3A00%3A00&to=2020-02-25+00%3A00%3A00&interval=minute&continuous=0&oi=0 HTTP/1.1" 200 100354

In [99]:
hist_df.head()

                       date    open    high     low   close  volume
0 2019-01-01 09:15:00+05:30  112.00  112.00  112.00  112.00      28
1 2019-01-01 09:17:00+05:30  112.86  112.90  112.86  112.90     212
2 2019-01-01 09:18:00+05:30  112.90  112.90  112.90  112.90       0
3 2019-01-01 09:19:00+05:30  112.90  112.90  112.90  112.90       0
4 2019-01-01 09:20:00+05:30  112.90  112.95  112.90  112.95    2412

In [81]:
hist_df.shape

(96869, 6)

### Extracting Different bars 

1. Information tick bar 

2. Information volume bar

3. Information dollar bar

In [101]:
hist_df  = hist_df[['date','close','volume']]

In [103]:
hist_df.shape

(96869, 3)

In [127]:
hist_vol_IB = get_ema_volume_imbalance_bars(hist_df,num_prev_bars=10,expected_imbalance_window=100,exp_num_ticks_init=100)

Reading data in batches:
Batch number: 0

C:/Study/HedgeFund/mlfinlab\mlfinlab\data_structures\base_bars.py:388: RuntimeWarning: invalid value encountered in greater
  self.thresholds['expected_imbalance']):

Returning bars

In [128]:
hist_vol_IB[0]

,date_time,tick_num,open,high,low,close,volume,cum_buy_volume,cum_ticks,cum_dollar_value
0,2019-01-01 11:21:00+05:30,100,112.00,112.95,112.00,112.95,3769,2820,100,4.252174e+05
1,2019-01-01 13:57:00+05:30,166,112.95,112.95,112.25,112.30,1911,262,66,2.147435e+05
2,2019-01-07 09:16:00+05:30,1181,112.30,113.40,110.43,112.00,10647,6493,1015,1.190057e+06
3,2019-01-11 15:24:00+05:30,2501,112.00,113.14,111.00,112.50,22123,15207,1320,2.485669e+06
4,2019-09-23 09:16:00+05:30,58274,112.70,138.55,110.00,122.90,1410368,801159,55773,1.670109e+08

In [130]:
hist_dol_IB = get_ema_dollar_imbalance_bars(hist_df,num_prev_bars=10,expected_imbalance_window=100,exp_num_ticks_init=100)

Reading data in batches:
Batch number: 0
Returning bars

In [132]:
hist_dol_IB[0]

,date_time,tick_num,open,high,low,close,volume,cum_buy_volume,cum_ticks,cum_dollar_value
0,2019-01-01 11:21:00+05:30,100,112.00,112.95,112.00,112.95,3769,2820,100,4.252174e+05
1,2019-01-01 13:57:00+05:30,166,112.95,112.95,112.25,112.30,1911,262,66,2.147435e+05
2,2019-01-07 09:16:00+05:30,1181,112.30,113.40,110.43,112.00,10647,6493,1015,1.190057e+06
3,2019-01-11 15:24:00+05:30,2501,112.00,113.14,111.00,112.50,22123,15207,1320,2.485669e+06
4,2019-09-23 09:16:00+05:30,58274,112.70,138.55,110.00,122.90,1410368,801159,55773,1.670109e+08